<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-logo">
                <h1>Alteon Project</h1>
            </div>
            <div class="nav-list">
                <ul>
                    <li><a href="#parent">Home</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="https://github.com/irwan-g10">About Us</a></li>
                </ul>
                <a id="menu" class="hamburger_menu">☰</a>
            </div>
        </nav>

    </header>
    <main id="parent">
        <div class="jumbotron">
        </div>
        <section class="content">
            <div class="restaurant">
                <h1>Explore Restaurant</h1>
                <div id="restaurantList">
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota fcvsdcvdsvsdvsdvBadfsfsfdesdfsesef sefesf sendung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota Bandung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota Bandung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota Bandung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota Bandung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-head">
                            <h5>Kota Bandung</h5>
                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </main>

    <footer>
        <p>Alteon Project &#169; 2019, Dicoding Academy</p>
    </footer>
</body>

</html>