<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recomendation Restaurant For You">
    <meta name="theme-color" content="#db0000" />
    <link rel="icon" href="logo.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#restaurantList" class="skip-link">Menuju ke konten</a>
    <header>
        <nav>
            <div class="nav-logo">
                <h1>Alteon Project</h1>
            </div>
            <div class="nav-list">
                <button id="menu" class="hamburger_menu">☰</button>
                <ul id="navList">
                    <li><a href="/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="https://github.com/irwan-g10">About Us</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <!-- <div class="jumbotron">
        </div>
        <section class="content"> -->
        <!-- <div class="restaurant">
                <h1>Explore Restaurant</h1>
                <div id="restaurantList"> -->
        <!-- <div class="list-item">
                        <div class="list-head">
                            <figure>
                                <figcaption>Bandung sasa sasa sasas sasa sasasasasa</figcaption>
                                <img src="../images/heros/hero-image_2.jpg" alt="">
                            </figure>

                        </div>
                        <div class="list-text">
                            <h4>Rating : 4.5</h4>
                            <h2>Lorem Iposum Dolor</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laudantium provident officia natus nam veritatis consequatur nobis quaerat sequi quibusdam, ullam nulla voluptatum reiciendis blanditiis porro aut itaque, quisquam
                                ducimus?
                            </p>
                        </div>
                    </div> -->


        <!-- <div class="detail-item">
                        <div class="detail-poster">
                            <img src="../images/heros/hero-image_2.jpg" alt="">
                            <div class="detail-info">
                                <h2>Information</h2>
                                <hr style="height:2px;border-width:0;color:black;background-color:black">
                                <h4>Restaurant Bandung Oke</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aut unde tenetur? Beatae voluptate numquam iste similique sapiente eligendi, a, reprehenderit dolorem ut laudantium quibusdam maxime consequuntur vero. Nobis, illo.</p>
                                <h4>Category</h4>
                                <p>Italia, Modern</p>
                                <h4>Menu</h4>
                                <h5>Food</h5>
                                <p>Pizza</p>
                                <p>Burger</p>
                                <h5>Drink</h5>
                                <p>Sirup</p>
                                <p>Marjan</p>
                                <h4>Rating</h4>
                                <p>4.2</p>
                            </div>
                        </div>
                    </div> -->
        <!-- </div>
            </div> -->

        <!-- </section> -->


        <div class="detail-item">
            <div class="detail-poster">
                <img src="../images/heros/hero-image_2.jpg" alt="">
            </div>
            <div class="detail-info">
                <div class="restaurant-information card">
                    <h1>Information</h1>
                    <hr style="height:2px;border-width:0;color:black;background-color:black">
                    <div class="card">
                        <h2>${restaurant.name}</h2>
                        <hr>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic inventore voluptates nam est,
                            ipsam
                            illum doloribus dicta nulla deleniti, quae eaque? Praesentium ipsa voluptatem ad veniam,
                            quis
                            delectus sint minus.</p>
                    </div>
                    <div class="info-category card">
                        <h3>Category</h3>
                        <hr>
                        <p>Italia, Modern</p>
                    </div>
                    <div class="info-menu card">
                        <h3>Menu</h3>
                        <hr>
                        <div class="menu-item">
                            
                        <h4>Foods</h4>
                        <h4>Drinks</h4>
                        </div>
                    </div>


                    <div class="card">
                        <h3>Rating</h3>
                        <hr>
                        <p>${restaurant.rating}</p>
                    </div>
                </div>
                <div class="restaunrant-review card">
                    <h1>Reviews</h1>
                    <hr style="height:2px;border-width:0;color:black;background-color:black">
                    <div class="list-review">
                        <div class="review-item card">
                            <h3>Irwan Gumilar</h3>
                            <hr>
                            <p>- Wih keren banget!!</p>
                        </div>
                    </div>
                    <div class="form-review">
                        <h3>Add new Reviews</h3>
                        <textarea name="komentar" class="txtarea-style">Silahkan isi komentar anda</textarea>
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </div>
            </div>


        </div>
    </main>

    <footer>
        <p>Alteon Project &#169; 2019, Dicoding Academy</p>
    </footer>
</body>

</html>