<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recomendation Restaurant For You">
    <meta name="theme-color" content="#db0000" />
    <link rel="icon" href="logo.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#restaurantList" class="skip-link">Menuju ke konten</a>
    <header>
        <nav>
            <div class="nav-logo">
                <h1>Alteon Project</h1>
            </div>
            <div class="nav-list">
                <button id="menu" class="hamburger_menu">☰</button>
                <ul id="navList">
                    <li><a href="/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="https://github.com/irwan-g10">About Us</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        
    </main>

    <footer>
        <p>Alteon Project &#169; 2019, Dicoding Academy</p>
    </footer>
</body>

</html>