* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    min-width: 44px;
    min-height: 44px;
    // text-decoration: none;
    color: black;
}
.skip-link {
    position: absolute;
   top: -60px;
   left: 0;
   background-color: gray;
   color: white;
   padding: 8px;
   z-index: 100;
}
.skip-link:focus {
    top: 0;
 }
header {
    
    nav {
        display: flex;
        padding: 1rem 2rem;
        border: 1px solid black;
        .nav-list {
            flex-basis: 40%;
            
            ul {
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                a {
                    text-decoration: none;
                    padding: 0.5rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1 fr);
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
                }
                a:hover {
                    background-color: grey;
                    color: white;
                }
            }
        }
        .nav-logo {
            margin-left: 2rem;
            flex-basis: 60%;
            margin: auto 0;
            // background-color: goldenrod;
        }
    }
}

main {
    .jumbotron {
        background-image: url("/images/heros/hero-image_2.jpg");
        min-height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .restaurant {
        .title {
            text-align: center;
            padding: 2rem;
            border: 1px solid black;
        }
        #restaurantList {
            padding: 16px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            .list-item {
                border: 1px solid black;
                .list-head {
                    figure {
                        img {
                            width: 100%;
                            max-height: 250px;
                        }
                        figcaption {
                            position: absolute;
                            display: grid;
                            grid-template-columns: repeat(1, 1fr);
                            padding: 1rem;
                            background-color: white;
                            margin-top: 1rem;
                            border: 1px solid black;
                        }
                    }
                }
                .list-text {
                    padding: 16px;
                }
            }
        }
    }

    /*
   Like
    */
    .like {
        font-size: 18px;
        position: fixed;
        bottom: 16px;
        right: 16px;
        background-color: #db0000;
        color: white;
        border: 0;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.detail-item {

    .detail-poster {
        img {
            width: 100%;
        }
    }
    .detail-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        .restaurant-information {
            margin: 2rem;
            .info-menu{
                .menu-item {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    text-align: center;
                }
                
            }
            .info-category {
                .categories-item{
                    text-align: center;
                }
            }
            
        }
        .restaurant-review {
            margin: 2rem;
        }
        
    }
}

.input-review {
    width: 100%;
    padding: 1rem;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4 );
}
.txtarea-style {
    width: 100%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem 0;
    border-radius: 4px;
    resize: none;
  }
  .btn-submit {
      width: 100%;
      height: 2rem;
      align-content: center;
      border: 2px solid black;
      border-radius: 4px;
      font-weight: bold;
      
      background-color: aqua;
  }
  .btn-submit:hover {
      background-color: blue;
      color: white;
  }

  .hr-menu {
      margin: 0 2rem;
  }
footer {
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
}
.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    .show-loader {

        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}


@media screen and(max-width: 1000px) {
    header {
        nav {
            display: grid;
            grid-template-columns: 3fr 2fr;
        }
    }
    main {
        .restaurant #restaurantList {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and(max-width: 800px) {
    header nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    main {
        .restaurant #restaurantList {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }.detail-item .detail-info {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and(min-width: 650px) {
    .hamburger_menu {
        // background-color: red;
        display: none;
        min-width: 44px;
        min-height: 44px;
    }
}

@media screen and(max-width: 650px) {
    header {
        nav {
            display: grid;
            grid-template-columns: 5fr 2fr;
            .nav-list {
                ul {
                    width: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
                    transform: translate(-250px, 0);
                    transition: transform 0.3s ease-in-out;
                    background-color: white;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    row-gap: 1rem;
                    padding: 2rem;
                }
                .hamburger_menu {
                    text-decoration: none;
                    font-size: 32px;
                    margin: 16px;
                    color: black;
                    
                }
            }
            .nav-list.open {
                ul {
                    transform: translate(0, 0);
                }
            }
        }
        .hamburger_menu{display: grid;
        }
    }
}